.Chat-main
  .Chat-main_group-info
    .Chat-main_group-info_bunch
      .Chat-main_group-info_bunch_name
        = @group.name
      %ul.Chat-main_group-info_bunch_list
        Member:
        %li.Chat-main_group-info_bunch_list_member
          - @group.users.each do |user|
            = user.name
    .Chat-main_group-info_bunch_edit
      = link_to edit_group_path(@group), class: "Edit_btn" do
        Edit
  .Chat-main_message-list
    = render @messages  
  .Chat-main_message-form
    = form_with model: [@group, @message], html: {class: "Chat-main_message-form_outline"}, local: true do |f|
      .Chat-main_message-form_outline_content
        = f.text_field :content, class: "Chat-main_message-form_outline_content_bunch", placeholder: 'type a message'
        = f.label :image, class: "Chat-main_message-form_outline_content_input-box_image" do
          = icon('far', 'image')
          = f.file_field :image, class: "Chat-main_message-form_outline_content_input-box_image_hidden"
      = f.submit 'Send', class: "Chat-main_message-form_outline_send"