.Side-bar
  .Side-bar_user-name
    .Side-bar_user-name_top-items
      %h3.Side-bar_user-name_top-items_name  
        = current_user.name
      %ul.Side-bar_user-name_top-items_icons
        %li.Side-bar_user-name_top-items_icons_btn
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.Side-bar_user-name_top-items_icons_btn
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .Side-bar_group-list
    - current_user.groups.each do |group|
      .Side-bar_group-list_block
        = link_to group_messages_path(group.id), {class: "btn"} do
          .list_block-name
            = group.name
          .list_block-message
            = group.show_last_message