.Side-bar
  .Side-bar_user-name
    .Side-bar_user-name_top-items
      %h3.Side-bar_user-name_top-items_name  
        masa
      .Side-bar_user-name_top-items_icons
        = link_to "#", class: "Icon__btn" do
          = icon('fas', 'edit', class: 'Icon__btn-icon')
        = link_to "#", class: "Icon__btn" do
          = icon('fas', 'cog', class: 'Icon__btn-icon')
  .Side-bar_group-list
    .Side-bar_group-list_block
      = link_to "#", class: "list_block_btn" do
        .list_block-name
          techcamp
        .list_block-message
          まだメッセージはありません